.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type="range"] {
  position: relative;
  margin: 0 auto;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 30%;
  background:url(images/eva.png) center no-repeat;
  background-size: 100%;
  border: 1px solid #00BF8F;
  border-radius: 5px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 15px;
  width: 15px;
  border: 4px solid #00BF8F;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #00BF8F, 0 0 8px #008463 inset;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.15s;
}
